<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/pre.css') }}">
</head>
<body>
    <div class="container">
        <div class="header-section">
            <div class="header-container">
                <h1>Preview of the Video created</h1>
            </div>
            <div class="header-container">
                <p>You can choose the video resolution and the quality.</p>
            </div>
        </div>
        <div class="innercontent">
            <div class="video-container">
                <video width="800" controls id="myVideo">
                    <source src="{{ url_for('static', path='videos/' + username + '/finaloutput_video.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="controls">
                <button onclick="playVideo()">Play</button>
                <button onclick="pauseVideo()">Pause</button>
                <button onclick="rewindVideo()">Rewind 5s</button>
                <button onclick="fastForwardVideo()">Fast Forward 5s</button>
            </div>
            <form action="/user/{{username}}/preview" method="post" class="video-options-form">
                <div class="form-group">
                    <label for="resolution">Choose Video Resolution:</label>
                    <select id="resolution" name="resolution">
                        <option value="480p">480p</option>
                        <option value="720p">720p</option>
                        <option value="1080p">1080p</option>
                        <option value="1440p">1440p</option>
                        <option value="4K">4K</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="quality">Choose Video Quality:</label>
                    <select id="quality" name="quality">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                        <option value="ultra">Ultra</option>
                    </select>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', path='/js/pre.js')}}"></script>
</body>
</html>
